.warning-modal {
  height: 198px;
}
.cancel-button {
  width: 75px;
  height: 36px;
}
.delete-button {
  background-color: #d93517;
  /* width: 80px; */
  height: 36px;
  color: #fff;
  padding: 0 5px;
}

.modal-description {
  /* width: 620px; */
  height: 60px;
}
